*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #4f4f4f;
    overflow-x: hidden;
    letter-spacing: 1px;
}
@media(max-width: 500px){
    body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #4f4f4f;
    overflow-x: hidden;
    letter-spacing: 1px;
    }
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #102964;
} 
.img-responsive{
    width: 100%;
    height: auto;
}
.img-rounded-corner{
    border-radius: 8px;
}
.drop-shadow{
    box-shadow: 1px 1px 3px 1px rgba(0,0,0, 0.2);
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-100{
    margin-top: 100px;
}
.padding-top-100{
    padding-top: 100px;
}
.padding-l-r-10{
    padding-left: 10px;
    padding-right: 10px;
}
.text-center{
    text-align: center;
}
.text-green{
    color: #3ecf8e;
}
.text-grey{
    color: #828282;
}
.bg-grey{
    background-color: #FAFAFA;
}
.bg-green{
    background-color: #3ecf8e;
}
.bg-white{
    background-color: #fff;
}
.align--center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.box-header{
    font-size: 1em;
}
header{
    font-size: 1em;
    font-weight: 400;
}
.float-right{
    float: right;
    margin-right: 20px;
  }
input::-moz-placeholder,
input::-webkit-input-placeholder,
input::placeholder{
    color: #828282;
}
.sub-text{
    font-size: 18px;
    font-weight: 300;
    color: #4f4f4f;
}
/* top style */
.top{
    position: relative;
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: rgba(56,99,160,0.9);
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.top-height{
    height: 400px;
}
.nav{
    position: relative;
    background-color: #3863A0;
    width: 100%;
    height: 70px;
    z-index: 999;
    line-height: 70px;
    vertical-align: middle;
}
.top-nav {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 50px;
    z-index: 999;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
}
  
.top-nav-brand {
    font-size: 1.2em;
    font-weight: bold;
}

.top-nav-list {
list-style: none;
float: right;
}

.top-nav-list-item {
display: inline-block;
padding: 0px 25px;
text-decoration: none;
color: #fff;
font-size: 14px;
}
.auth-link{
    font-weight: 400;
}
.top-header{
    position: relative;
    width: 50%;
    top: 150px;
}

.top-form{
    position: absolute;
    bottom: -20px;
    left: 0;
    margin-bottom: 0;
}
.top-form input[type="search"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    width: 350px;
    height: 50px;
    background-color: #f2f2f2; 
    color: #828282; 
  }
  .top-form button{
      float: right;
      margin-left: -5px;
      margin-bottom: 0;
      border: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #3ecf8e;
      color: #fff;
      width: 200px;
      height: 50px;
  }

.top-image{
    position: absolute;
    display: block;
    bottom: -60%;
    right: 0;
    z-index: 999;
}
@media(max-width: 500px){
    .top-image, .top-image-player{
        display: none;
    }
    .top-header{
        width: 100%;
    }
    .top-nav{
        display: block;
        margin: 0 -20px;
        padding: 20px;
        height: 50px;
        top: -10px;
    }
    .top-form input[type="search"]{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
        width: 200px;
        height: 50px;
        background-color: #f2f2f2;  
    }
    .top-form button{
        float: right;
        margin-left: -5px;
        margin-bottom: 0;
        border: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #3ecf8e;
        color: #fff;
        width: 125px;
        height: 50px;
        display: inline-block;
        text-align: center;
    }
}
.top-image-player{
    position: absolute;
    bottom: -10%;
    right: 50px;
}

.mobile-menu {
    display: none;
  }
  @media (max-width: 500px) {
    nav {
      height: 50px;
      line-height: 50px;
      top: 0;
    }
    nav .brand-logo img {
      padding-top: 0;
    }
    nav ul {
      display: none;
      margin-bottom: 0;
    }
    .mobile {
      float: right;
      height: 50px;
      padding: 10px 0;
      cursor: pointer;
    }
    .mobile span {
      width: 30px;
      height: 3px;
      background-color: #fff;
      display: block;
      margin-bottom: 7px;
      border-radius: 3px;
      z-index: 999;
    }
       
    .mobile-menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 90vw;
      height: 100vh;
      z-index: 9999;
      transition: linear 2s;
      z-index: 9999;
      text-align: center;
     
    }
    .mobile-menu__container {
      display: none;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 5px;
    }
    .mobile-menu ul {
      width: 100%;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.35);
    }
    .mobile-menu__container li {
      text-align: center;
    }
    .mobile-menu a {
      display: block;
      color: #102659;
      text-align: center;
      /* margin-right: 30px; */
    }
    .mobile-menu ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;
      float: left;
    }
    .mobile-menu ul li {
      display: block;
      padding: 10px 0;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .mobile-menu ul li:hover {
      cursor: pointer;
    }
  }

/* top style */
.course-top{
    position: relative;
    width: 100%;
    height: 250px;
    color: #fff;
    background-color: rgba(56,99,160,0.9);
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.course-top-header{
    position: relative;
    width: 80%;
    top: 150px;
    text-align: center;
    margin: auto;
}

.course-top-form{
   position: absolute;
   display: block;
   left: 50%;
   bottom: -50px;
   transform: translateX(-50%);
}
.course-top-form input[type="search"]{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    width: 350px;
    height: 50px;
    background-color: #f2f2f2; 
    color: #828282;  
  }
  .course-top-form button{
      float: right;
      margin-left: -5px;
      margin-bottom: 0;
      border: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #3ecf8e;
      color: #fff;
      width: 200px;
      height: 50px;
  }
@media(max-width: 500px){
    .course-top-header{
        width: 100%;
        top: 70px;
    }
    .course-top-form{
        position: absolute;
        display: block;
        left: 10%;
        bottom: -50px;
        transform: translateX(0);
     }
    .course-top-form input[type="search"]{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
        width: 200px;
        height: 50px;
        background-color: #f2f2f2;  
    }
    .course-top-form button{
        float: right;
        margin-left: -5px;
        margin-bottom: 0;
        border: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #3ecf8e;
        color: #fff;
        width: 120px;
        height: 50px;
    }
}


/* intro style */
.intro{
    width: 100%;
    padding: 50px 0 50px;
}
.intro-box{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    padding: 70px 0;
}
.profile .row {
    position: relative;
}
.profile-list{
    list-style: none;   
    line-height: 20px;
    vertical-align: middle;
    color: #3ecf8e;
}
.profile-list img{
    margin-right: 10px;
}
.profile-circle-1{
    position: absolute;
    right: 20px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #3ecf8e;
    box-shadow: 2px 3px 20px rgba(0,0,0, 0.1);
}
.profile-circle-2{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #3ecf8e;
    box-shadow: 2px 3px 20px rgba(0,0,0, 0.1);
}


.features{
    position: relative;
    padding: 70px 0;
}
.feature-box{
    position: relative;
    text-align: center;
    background-color: rgba(56,99,160,1);
    color: #fff;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 0.8em;
    height: 220px;
}
.feature-box-circle{
    position: absolute;
    top: -20%;;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: rgba(56,99,160,1);
    z-index: -1;
}
.feature-heading{
    font-size: 1.5em;
    font-weight: 400;
}
.feature-heading-2{
    font-size: 1.3em;
    font-weight: 400;
}
@media(max-width: 500px){
    .feature-box{
        margin-top: 50px;
    }
}
.courses{
    position: relative;
    display: block;
    padding: 50px 0;
    z-index: -1;
}

.courses .columns:nth-child(3n+1){
    margin-left: 0;
}
.courses .columns:nth-child(n+4){
    margin-top: 50px;
}
.course-heading{
    position: relative;
    display: inline-block;
}
.course-heading:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    width: 30px;
    height: 2px;
    background-color: #3ecf8e;
}
.course-heading:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    width: 30px;
    height: 2px;
    background-color: #3ecf8e;
}
.course-box-image{
    width: 100%;
    height: 200px;
}
.course-box-content{
    position: relative;
    padding: 20px;
    background-color: #fff;
    font-size: 0.8em;
    color: #828282;
    font-weight: 300;
}
.profession{
    position: absolute;
    top: -20px;
    padding: 5px 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.1);
    color: #4f4f4f;
    font-weight: 400;
}
.course-button{
    border-color: #3ecf8e;
    color: #3ecf8e;
}
@media(max-width: 500px){
    .course-box{
        margin-top: 20px;
    }
    .courses .columns:nth-child(n+4){
        margin-top: 10px;
    }
}
 /* footer style */
 footer{
    position: relative;
    padding: 50px 0;
    background-color: #3863A0;
    color: #fff;
}
footer header{
    margin-bottom: 10px;
    font-weight: bold;
}
footer ul li{
    list-style: none;
}
footer hr{
    border: 1px solid rgba(242, 242, 242, 0.2);
}

/* pagination style */
.pagination{
    position: relative;
    display: block;
    width: 100%;
  }
  .pagination-list{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .pagination-list-item{
    list-style: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #828282;
  }

  .pagination-list-item.active{
    border-radius: 50%;
    background-color: #3ecf8e;
    color: #fff;
  }

  .pagination-list-item:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3ecf8e;
    color: #fff;
  }

   
  /* filter style */
  .filter{
    position: relative;
    margin-top: 20px;
  }
  .filter .container{
    position: relative;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    border-bottom: 1px solid #f2f2f2;
  }
  .right-filter{
      float: right;
  }
  .filter ul{
      margin-bottom: 0;
  }
  .filter ul li{
      list-style: none;
      display: inline-block;
  }
  .filter ul li{
      margin-left: 20px;
  }
  .filter select{
      border: 1px solid #3ecf8e;
  }

/* about style */
.about{
    position: relative;
    padding: 50px 0;
}
.about-box{
  display: flex;
  position: relative;
}
.about-box .box-left{
  width: 30%;
}
.about-box .box-right{
  width: 70%;
}
.about-box p{
  font-size: 0.8em;
}
@media(min-width: 700px){
  .middle-bar:before{
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 30%;
    border: 1px solid #3ecf8e;
    /* height: 20px; */
  }
}

.get-btn{
  border: 1px solid #3ecf8e;
  color: #3ecf8e
}

.bordered-image{
    position: relative;
    margin-top: -20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.center-img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-line{
    display: inline-block;
    width: 100px;
    height: 1px;
    margin-top: 0;
    background-color: #3ecf8e;
}